<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    
    <add key="voat.UserName" value="" />
    <add key="voat.Password" value="" />
    <add key="voat.api.PublicKey" value="" />
    <add key="voat.api.PrivateKey" value="" />
    <add key="voat.api.EndPoint" value="https://api.voat.co" />

  </appSettings>
</configuration>
